<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; white-space: pre; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io('/{{token}}');
      socket.on('log', function(msg){
        $('#messages').append($('<li>').html(msg));
      });
    </script>
  </head>
  <body>
    <ul id="messages"></ul>
  </body>
</html>
